@model  Mvc8amMasterBatch.Models.EmployeeModel
@using Mvc8amMasterBatch.MyUserControl
@{
    ViewBag.Title = "HtmlHelperExample";
}

<h2>HtmlHelperExample</h2>
<script>
    function fun() {
        var a = document.getElementById("txt EmpName").value;
        alert(a);
    }
</script>


@*@Html.TextBox("Emp Name","Monika",new { style = "background-color:deepskyblue;",@class="form-control",@id="txtEmpName", @onclick = "fun()"})<br />
<input type="text" name="name" value="swamy" style="background-color:deepskyblue;" class="form-control" />
@Html.TextBoxFor(x=>x.EmpName, new { style = "background-color:deepskyblue;", @class = "form-control", @id = "txtEmpName" })
<br />
@Html.LabelFor(x=>x.EmpName)

<br />

@Html.EditorFor(x=>x.Status)
<br />
@Html.EditorFor(x => x.EmpId)*@

@*@Html.EditorForModel(Model)*@


@Html.Password("pwd", "dilip", new {@class="form-control" })<br />
@Html.CheckBox("java",true,new { @class = "form-control" })
@Html.CheckBox("Dotnet", new { @class = "form-control" })<br />

<span>Male</span>@Html.RadioButton("Gender","Male",true)
<span>Female</span>@Html.RadioButton("Gender", "FemMale")
<br />


<select name="">
    <option value="1">India</option>
    <option value="2">pakistan</option>
    <option value="3">srilanka</option>
</select>

<br />

@Html.DropDownList("Country", new List<SelectListItem>()
{

new SelectListItem {Text="India",Value="1",Disabled=true },
new SelectListItem {Text="Pakistan",Value="2" },
new SelectListItem {Text="SriLanka",Value="3",Selected=true }

},"Select Country")
<br />
@Html.DropDownList("Country")
<br />
@Html.DropDownList("CountryList",(IEnumerable<SelectListItem>)ViewBag.Country)

@myHtmlHelper.MyLabel("I Accept the Agreement")<br />

@Html.createUrControl("text")<br />
@Html.createUrControl("radio")<br />
@Html.createUrControl("file")<br /><br />

@helper labelbyrazzorcode(string content)
{
    <label>@content</label>
}
@labelbyrazzorcode("I accept Aggreement")










